# Папки ide
/.idea/
/.vscode/
# Конфиг установки
/.env

/bin/
/vendor/
/node_modules/
/composer-setup.php


# phpUnit
/phpunit-report.xml
/.phpunit.cache
/.phpunit.result.cache
# системные файлы
.DS_Store
